<main class="flex-1 p-4 bg-white">
  <!-- Search bar -->
  <div class="mb-4">
    <div data-controller="search" data-search-url-value="<%= searches_url(format: :turbo_stream) %>">
      <%= form_with url: searches_path(format: :turbo_stream), method: :get, local: false, data: { turbo_frame: "realtors_list" } do |form| %>
        <%= text_field_tag :query, params[:search], placeholder: 'Search by name...', 
                   class: 'w-full px-4 py-2 border rounded-md shadow-sm',
                   data: { action: "keyup->search#search", turbo_stream: true, turbo: true } %>    
      <% end %>

<div id="realtors_list">
  <%= turbo_frame_tag 'realtors_list' do %>
    <!-- Headers -->
    <div class="grid grid-cols-4 px-4 py-2 font-semibold text-left text-gray-700 bg-gray-100 border-b">
      <div class="col-span-1">Name</div>
      <div class="col-span-1">Brokerage</div>
      <div class="col-span-1">Zipcode</div>
      <div class="col-span-1">Image</div>
    </div>

    <!-- Realtor Rows -->
    <% @realtors.each do |realtor| %>
    <% puts realtor %>

      <div class="grid grid-cols-4 items-center px-4 py-2 border-b">
        <!-- Name -->
        <div class="col-span-1">
          <div class="text-lg font-semibold"><%= realtor.first_name %> <%= realtor.last_name %></div>
        </div>

        <!-- Brokerage -->
        <div class="col-span-1">
          <div class="text-sm text-gray-600"><%= realtor.brokerage %></div>
        </div>

        <!-- Zipcode -->
        <div class="col-span-1">
          <div class="text-sm text-gray-600"><%= realtor.zipcode %></div>
        </div>

        <!-- Image -->
        <div class="col-span-1">
          <% if realtor.image_url.present? %>
            <img src="<%= realtor.image_url %>" alt="<%= realtor.first_name %> <%= realtor.last_name %>" class="w-12 h-12 rounded-full" />
          <% else %>
            <span class="text-xs text-gray-500">No Image</span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</main>
